h1{
    margin: 0px 0px 0px 0px;
    font-size: 90px;
}

h2{
    margin: 0px 0px 0px 0px;
    font-size: 60px;
}

h3{
    margin: 0px 0px 0px 0px;
    font-size: 35px;
}




body{
    display: grid;
    grid-template-columns: 15% 10% 10% 25% 40%;
    grid-template-rows: 170px 170px 170px 170px 170px;

}

#textgrid{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: aqua;
    text-align: center;
}

#button1{
    grid-column-start: 2;
    grid-row-start: 4;
}

#button2{
    grid-column-start: 3;  
    grid-row-start: 5;  
}

#button3{
    grid-column-start: 4;
    grid-row-start: 4;
}

button{
    width: 200px;
    height: 50px;
}
